{% extends "revo/element_list.html" %}
{% load staticfiles%}
{% load widget_tweaks %}

{% block form_title %} Devices {% endblock %}
{% block delete_url %} {% url 'device_delete' %} {% endblock %}

{% block form_elem %} 
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>IP</th>
        <th>Router</th>
        <th>Host</th>
        <th>Type</th>
    </tr>
    {% for device in stb_devices %}
        <tr>
            <td>
                <input type='checkbox' name='device' value='{{ device.id }}' data-edit= '{% url "device_edit" device.id %}'id="{{ device.name }}" onchange="disable_edit_test('Edit_Button', '.list_table tr td')"/> 
            </td>
            <td> {{ device.name }} </td>
            <td> {{ device.ip }} </td>
            <td> {{ device.router }} </td>
            <td> {{ device.host }} </td>
            <td> {{ device.device_type }} </td>
        </tr>
    {% endfor %}   
{% endblock %}

{% block add_url %} {% url 'device_new' %} {% endblock %}