
/* Login Page ================================== */
body{
	background: url("../images/bg.png") no-repeat no-repeat;
}
section.login {
	margin: 100px 25px 25px 25px;
	border: 1px solid #ddd;
	border-radius:5px;
	background-color: #DCDCDC;
	opacity: 0.75;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.login-header{
	text-align:center; 
	margin-bottom:30px
}
.login-input{
	border:1px solid #4682B4; 
	border-radius: 0px !important;
	margin-bottom:30px;		
}
.login-button{
		background-color: #bbb;
}
.login-page p{
	text-align:center;
}
.login-page a{
	text-decoration:underline;
}
.form-signin{
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
	margin-bottom: 10px;
}
.form-signin .checkbox{
	font-weight: normal;
}
.form-signin .form-control{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus{
	z-index: 2;
}
.form-signin input[type="password"]{
	margin-bottom: 10px;
}
.account-wall{
	margin-top: 20px;
	padding: 40px 0px 20px 0px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title{
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}
.profile-img{
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.profile-name {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	height: 1em;
}
.profile-email {
	display: block;
	padding: 0 8px;
	font-size: 15px;
	color: #404040;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.need-help{
	display: block;
	margin-top: 10px;
}
.new-account{
	display: block;
	margin-top: 10px;
}
.powered{
	margin-top:40px;
}
.wrapper{
	margin-top:400px;
}

.quote-box{
	background-image: url(../images/box1.png);  
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #cdcdcd; 
    padding: 10px 0px;
}

.runquote{
	background-image: inherit;
	margin-top: 50%;
    border: 0px;
}
 	/* Menu bar ================================ */
.menu-content{
	height:80px;
	background-color: #000
}
.menu-content ul li{
	float: left;
	padding: 30px 20px 20px 20px;
	margin-left: 5px;
	list-style:none;
	font-weight:bold;
}
.menu-content ul li a{
	color:#fff;
	text-decoration: none;
}
.menu-content ul li a.active{
	color:#ea121b;
	text-decoration: none;
}
.menu-content .logout {
	float:right;
	margin-right:25px!important;
	padding: 20px 20px 20px 20px;
}
img .img-responsive{
	max-width: 100%;height: auto;display:block;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* Home page ======================== */
.home-page {
	padding:50px;
	font-size:15px;
}
.home-page ul li{
	list-style:none;
	padding:10px;
	
}
.home-page ul li a{
	text-decoration:underline;
}
	
/* Reports-page ================= */
.reports-page{
	padding-top: 50px;
}
.chart{
	padding:10px;
}
.report_title{
	padding:10px;
	text-align:center;
}
.report_chart_title_border{
	margin-top:50px;
	border-top:1px solid #337ab7;
	border-bottom: 1px solid #337ab7;
}
.report_chart_align{
	float:none;
}

.buttonHolder{
	margin: 10px 0px 0px 10px;
}
.title_dropdown{
text-align-last:center;
}
.report_chart_title{
	padding:10px;text-align:center;
	text-decoration:underline;
}

.report_chart_title a{
text-decoration: underline;
}

.report_table{
	border:1px solid #000;
}
.report_table_tr_values{
	border: 1px solid #000;
}
.panel-reports {
	padding: 0px;
}
	/* Revo-page ==================== */
.revo_title{
	padding:10px;
	text-align:center;
}
.revo_testcase li{
	margin-left:20px;
}

.checkbox .case{
margin-left:-13px !important;}

.multiselect {
	/*width: 200px;*/
	/*border: 1px solid #337ab7;*/
}
.selectBox {
	position: relative;
}
.selectBox select {
	width: 100%;
	font-weight: bold;
}
.overSelect {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
.revo_checkbox{
	  /*padding:10px;*/
	  padding: 5px;
	  cursor: pointer;
}
.revo_dropdown{
	padding:5px;
}
.execute-button{
	margin-top:10px;
	padding:5px 40px 5px 40px;
	border-radius:10px;
	background-color: #000;
	border:1px solid #000;
	color: #fff;
}
.revo_chart_title_border{
	margin-top:20px;
	border-top:1px solid #337ab7;
	border-bottom: 1px solid #337ab7;
}
#checkboxes label {
	display: block;
}
#checkboxes label:hover {
   background-image: url("../../images/highlight.png");
}
.multiselect{
	height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.multiselect .selection{
	width:150px;
	border:1px solid #ccc
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track{
	background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.5);
}
::-moz-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
::-moz-scrollbar-track{
	background: rgba(0, 0, 0, 0.1);
}
::-moz-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.5);
}
:-moz-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
:-moz-scrollbar-track{
	background: rgba(0, 0, 0, 0.1);
}
:-moz-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.5);
}

/* Toggle ================================== */
.panel-group {
	/*padding-top: 50px;*/
}
.panel-default {
	margin-bottom: 0;
}
.panel-default > .panel-heading {
	background: none;
	padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border: none;
	padding: 10px 0 0 32px;
}
.panel-default h5 {
	font: 300 19px "Open Sans", Arial, sans-serif;
	padding: 0;
}
.panel-group .panel+.panel {
	margin-top: 15px;
}
.panel-default .accordion-toggle:before {
	content: "";
	width: 21px;
	height: 21px;
	display: inline-block;
	background: #000000 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
	border-radius: 50%;
	margin-right: 10px;
	top: 4px;
	float: right;
}
.panel-default .collapsed:before {
	background: #000000 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
	background-color: #000000;
}
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
	color: #1ea9e3;
	text-decoration: none;
}
.panel-default .collapsed {
	color: #5f6f7e;
}
.panel-title{
	background:#f44336 !important;

}
.panel-title a{
	color: #fff !important;
}
.device-form{
	background-color: #fff!important;
}

.device-title{
	font-size: 16px;
	text-align: center;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}
.glyphicon
{
    /*font-size: 12px;*/
}

/* Table ================================== */
table#acrylic {
    border-collapse: separate;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
    margin: 50px auto;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
	border:1px solid #000;
	width: 100%;
}
#acrylic thead th {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-align: left;
	padding: 20px;
	background-color: #000;
	border-top: 1px solid #858d99;
}
#acrylic tbody tr td {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #5f6062;
	font-size: 13px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #000;
}
#acrylic tbody tr:nth-child(2n) {
	background: #f0f3f5;
}   
#acrylic tbody:hover > tr td {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

#acrylic tbody:hover > tr:hover td {
	text-shadow: none;
	color: #2d2d2d;
	filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	transition: 0.2s all;
}        
@media screen and (max-width: 767px) {
	#acrylic thead {
		display: none;
	}
	#acrylic tr {
		margin-bottom: 10px;
		display: block;
	}
	#acrylic td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
	}
	#acrylic td:last-child {
		border-bottom: 0;
	}
	#acrylic td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	}
	table#acrylic {
		width: 100%;
	}
}
.available{
	color:#228b22;
	margin: 5px !important;
}
.busy{
	color:orange;
	margin: 5px !important;
}
.offline{
	color: #cd040b;
	margin: 5px !important;
}
.tab-content > .tab-pane {
	display: none;
}
.tabContents {
    display:none;
}
.firstEle{
display:block;
}

/* Chart ================================== */
 .chartContainer {
	height:100%;
	width:100%;
}
.testreport{
	color: #fff;
    display: inline-block;
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 12px; 
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    margin-left: 10px;
}
.testreportwar{
	background-color: #c27500; 
}
.testreportfailed{
	background-color: #bd0f0f; 
}
.testreportsuccess{
    background-color: #11b500; 
}
span.testreport{
	margin-top: 5px;
}
#primary_nav_wrap ul
{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	position:relative;
	padding: 0px;
}
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width:250px;
}
#primary_nav_wrap ul li ul li.active a{
	color:#ea121b;
	text-decoration: none;
}
#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top: 40px;
	left: 25px;
	padding:0;
	font-weight: bold;
}
#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
	list-style: none;
}
#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:5px 15px;
	color: #333;	
}
#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}
#primary_nav_wrap ul li:hover > ul
{
	display:block;
	
	
}
.btn-space{
	margin-top: 10px;
}
hr{
	border-top: 1px solid #ddd; margin: 0;
}
label{
	margin-bottom:0;
}
.font-awesome-icon{
	font-size:24px;
	margin-top:3px;
}
.reports_table{
	margin-top:400px;
	box-shadow: 0 0 1px 1px;
}
.revo_table{
	margin-top:200px;
}
.btn_stop{
	border-radius:5px;color:white;padding: 2px 5px;
}
.not_tested{
	background-color:#c27500; border-radius:5px;color:white; padding:10px; 
}
.failed{
	background-color:#bd0f0f; border-radius:5px;color:white; padding:10px; }
.completed{
	background-color:#11b500; border-radius:5px;color:white; padding:10px; }
.Result tr:nth-child(even){
	background: #CCC
}
.Result tr:nth-child(odd){
	background: #FFF
	}
.device{
	margin:20px; border: 1px solid #f44336
}
.panel-heading.device-heading{
	background:#f44336 !important;
	border: 1px solid #f44336;
}
input[type="text"].test_suites{
	border: 1px solid #ccc; border-radius:3px; padding: 5px 10px
}
.btn-add{
	display:none;cursor:default;
}
.job-status-background{
	background-image: url(../images/box1.png);
	background-position: center center;
	background-repeat: no-repeat; 
	background-size:100% 100%;
	border: 1px solid #cdcdcd;
	border-radius: 7px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px 0;
}
.job-status_title{
	color: #cd040b;
    font-size: 16px;
    padding: 0 8px; 
	font-weight:bold
}
.tools-content{
	height: 150px;overflow-x: hidden;overflow-y: hidden;
}
.settopbox_content{
	height: 150px;overflow-x: scroll;overflow-y: scroll;
}
.testsuite_content{
	height: 150px;overflow-x: scroll;overflow-y: scroll;
}
.run{
	margin-top: 85%
}
.refresh_job_status{
	border:0px; border-radius:5px; font-size:20px
}
.img-right {
	width: 70%;
    padding-top: 10px;
}
.revo-config {
	background-color: grey;
	font-weight: bold;
	padding-left: 10px;
}

/***Vertical Tabs**/

.nav-tabs li {
	float: none;
	margin: 0;
}
.nav-tabs li a.active {
	margin-right: 0;
	border: 0;
	background-image: url("../../images/highlight.png");
}
.nav-tabs .glyphicon {
	color: #fff;
}
.nav-tabs .active .glyphicon {
	color: #333;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 0;
}
.bar-content {
	max-height:228px;
	height:auto;
	overflow:auto;
}
.bar-content .tab-pane {
	display: none;
	overflow-y: auto;
}
.bar-content .active {
	display: block;
}
.main_menu li.active a{
	color: #23527c !important;
}
.panel-grp{
	/*padding:10px;*/
}

.more-less {
	float: right;
}
.config-open:before{
	/*padding: 5px 5px 5px 5px;*/
    font-size: 10px;
    display: block;
    border-left: 1px solid white;
	/*background:#000 !important;*/
    margin-right: 0px;
	color: #000;
}
.glyphicon {
	margin-right:10px; 
	/*color: transparent;*/
}
.config-open{
	top:8px; margin-right: 0px;
}
.sidemenu{
	border-radius:0px;
	/*box-shadow: 0px 3px 3px #888888;*/
}
.sidemenu a{
	color: #000;
	display:block; padding:3px;
}
.submenu_table{
	margin-bottom:0px !important;
}
tr.sidemenu{
	background-image: url(../../images/highlight.png);
}
tr.sidemenu a{
	color: #000000 !important;
	margin-left:25px;
	display: block;
}

.sidemenu td{
	padding:0px !important;
}
.revo_link{
border-bottom:1px solid #fff;
}
.config_link{
	
	border-bottom:1px solid #fff;
	pointer-events: none;
	cursor: default;
	/*background-color: #eee;*/
	/*background: #C30909 !important;/* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#C30909, #890707) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#C30909, #890707) !important; /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#C30909, #890707) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#C30909, #890707) !important; /* Standard syntax */
}
.config a{
	padding-left:20px !important;
}

.sidemenu.config:hover{
	/*background: #C30909 !important;/* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#C30909, #890707) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#C30909, #890707) !important; /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#C30909, #890707) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#C30909, #890707) !important; /* Standard syntax */
	
}
.sidemenu:hover{
	/*background: #C30909 !important;/* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#C30909, #890707) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#C30909, #890707) !important; /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#C30909, #890707) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#C30909, #890707) !important; /* Standard syntax */
}
.sidemenu a:hover{
	text-decoration: none  !important;
}
.active-colors{
	/*background-color: #ea121b;*/
	/*background: #eee;*/
	color: #ea121b !important;
	position: relative;
	/*background: #eee;*/
	/*border: 1px solid #eee;*/
	/*width: 235px;*/
	
	/*background: #C30909 !important; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#C30909, #890707) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#C30909, #890707) !important; /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#C30909, #890707) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#C30909, #890707) !important; /* Standard syntax */
}
.revo-img{
	margin:26px 0px 0px 26px;
	padding:2px;
}
.active-colors:after, .active-colors:before {
	/*right: -7%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;*/
}

.active-colors:after {
	/*border-color: rgba(136, 183, 213, 0);*/
	/*border-left-color: #88b7d5;*/
	/*border-width: 30px;
	margin-top: -30px;*/
}
.active-colors:before {
	/*border-color: rgba(194, 225, 245, 0);
	border-right-color: #eee;
	border-width: 18px;
	margin-top: -18px;*/
}
.active-colors2{
	background: #000!important;
	color: #000 !important;
}

/*sidemenu show hide*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	transition: 0.5s;
    padding-top: 60px;	
}

.sidenav a {
    text-decoration: none;
	font-weight: normal;
	font-size: 15px;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ea121b;
}

.sidenav .closebtn {
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 218px;
	color: #ea121b;
}

#main {
    transition: margin-left .5s;
}
.navopen{
	font-size:15px;cursor:pointer; color: #ea121b;
}

#listContainer ul{
	padding:0;
	
}
#listContainer ul li{
	margin:0;
	/*background: #f44336;*/
	list-style:none;
}
#listContainer ul li:hover{

	/*background: #C30909 !important;/* For browsers that do not support gradients */
  /*  background: -webkit-linear-gradient(#C30909, #890707) !important; /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#C30909, #890707) !important; /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#C30909, #890707) !important; /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#C30909, #890707) !important; /* Standard syntax */

}
.revo_icon{
	border-bottom: 1px solid #fff;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
	border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
#RevoCollapse ul li{
	padding: 5px 0px 5px 25px;
}
.menu_icon{
	float:left;height:26px;width:26px;margin:5px 5px 0px 35px; border:2px solid;
	
	
}
.menu_icon2{
float:left;height:26px;width:26px;margin:5px 5px 0px 5px; border:2px solid}
.os-box{
    background-image: url(../../images/box1.png);  
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    margin-top: 20px; 
    border-radius: 7px;
    border: 1px solid #cdcdcd; 
    padding: 10px 0px;
	height:190px;
	
    
}
.os-box .appium_tbody{
	height:128px;
	overflow: auto;
	max-height:128px;
	background-position: center;
    background-size: 100% 100%;
	float:left;
}

#accordion11{height:147px; max-height:147px;overflow: auto}
#accordion21{height:auto; max-height:140px;overflow: auto; padding:10px}
