{% extends "appium/element_list.html" %}
{% load staticfiles%}
{% load widget_tweaks %}

{% block form_title %} Devices {% endblock %}
{% block delete_url %} {% url 'appium_device_delete' %} {% endblock %}

{% block form_elem %} 
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Model</th>
        <th>MAC Address</th>
		<th>Serial No</th>
        <th>OS Type</th>
        <th>OS Version</th>
    </tr>
    {% for device in appium_devices %}
        <tr>
            <td>
                <input type='checkbox' name='device' value='{{ device.id }}' data-edit= '{% url "appium_device_edit" device.id %}'id="{{ device.device_name }}" onchange="disable_edit_test('Edit_Button', '.list_table tr td')"/> 
            </td>
            <td> {{ device.device_name }} </td>
            <td> {{ device.device_model }} </td>
            <td> {{ device.device_mac }} </td>
            <td> {{ device.device_serial }} </td>
            <td> {{ device.device_type }} </td>
            <td> {{ device.device_version }} </td>
        </tr>
    {% endfor %}   
{% endblock %}

{% block add_url %} {% url 'appium_device_new' %} {% endblock %}