{% extends "appium/element_form.html" %}
{% load staticfiles%}
{% load widget_tweaks %}

{% block form_title %} {% if object %} Edit Test Case {% else %} Add Test Case {% endif %} {% endblock %}

{% block form_elem %}
	<p>
        {{ form.test_case_type.errors }}
        <label for="{{form.test_case_type.id_for_label}}" >Test Case Type</label>
        {{ form.test_case_type | add_class:"form-control input-sm" }}
    </p>
    <p>
        {{ form.test_case_id.errors }}
        <label for="{{form.test_case_id.id_for_label}}" >Test Case ID</label>
        {{ form.test_case_id | add_class:"form-control input-sm" }}
    </p>
    <p>
        {{ form.description.errors }}
        <label for="{{form.description.id_for_label}}" >Description</label>
        {{ form.description | add_class:"form-control input-sm" }}
    </p>
{% endblock %}
