{% extends "appium/element_list.html" %}
{% load staticfiles%}
{% load widget_tweaks %}

{% block form_title %} Test Suites {% endblock %}
{% block delete_url %} {% url 'appium_test_suite_delete' %} {% endblock %}

{% block form_elem %} 
    <tr>
        <th>Select</th>
        <th>Device Type</th>
        <th>Test Suite Name</th>
        <th>Total Cases</th>
    </tr>
    {% for suite in appium_test_suites %}
        <tr>
            <td>
                <input type='checkbox' name='suite' value='{{ suite.id }}' id="{{ suite.test_suite_name }}" data-edit= '{% url "appium_test_suite_edit" suite.id %}' onchange="disable_edit_test('Edit_Button', '.list_table tr td')" /> 
            </td>
	        <td> {{ suite.device_type }} </td>
            <td> {{ suite.test_suite_name }} </td>
            <td> {{ suite.test_cases_list.all.count }} </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block add_url %} {% url 'appium_test_suite_new' %} {% endblock %}