{% extends "app/shell.html" %}
{% load staticfiles%}

{% block body %} 
  <!-- Collect the nav links, forms, and other content for toggling -->
  
  <div class="panel-group" id="accordion1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Information about Test Console</a>
          </h5>
        </div>
        <div id="accordion1_1" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>Test Console Portal provides a centralized control to execute Automation Tests using multiple Test Tools available in Verizon. </p>
            <p>This Portal will be helpful for both Management and Testers, as it provides options to execute Test Cases and Display test reports.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Announcements</a>
          </h5>
        </div>
        <div id="accordion1_2" class="panel-collapse collapse">
          <div class="panel-body">
            <p>The Test console portal is currently integrated end to end with Revo automation tool.</p>
            <p>In the next subsequent releases, the plan is to include other tools like Appium and Storm, under the console portal.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Help Documentation</a>
          </h5>
        </div>
        <div id="accordion1_3" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Help documentation is under construction</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">FAQs</a>
          </h5>
        </div>
        <div id="accordion1_4" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Who has access to Test Console?</p>
			<p>How to run reports?</p>
			<p>How to check the latest Job Statuses information?</p>
			<p>Is there any Auto refresh on the Job Statuses?</p>
			<p>What are the Red and Green icons in front of Set Up Boxes?</p>
            <p>Is there any configuration that need to be set before using this portal?</p>
			<p>How to add/delete setup boxes information?</p>
			
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">About</a>
          </h5>
        </div>
        <div id="accordion1_5" class="panel-collapse collapse">
          <div class="panel-body">
            <p>.......</p>
          </div>
        </div>
      </div>
  </div>     
{% endblock %}
